@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dosis");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 53px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  font-weight: 600;
}

h5 {
  font-size: 26px;
  font-weight: 600;
}

a {
  color: #000000;
  text-decoration-line: none;
}

ul {
  padding: 0;
}

p,
label,
li,
button,
a,
span,
select {
  font-family: "Dosis", sans-serif;
}

p {
  font-size: 18px;
  color: rgb(64, 64, 64);
}

li {
  list-style-type: none;
  font-size: 16px;
}

label {
  font-size: 20px;
}

button {
  font-size: 15px;
  padding: 1px;
}

input {
  font-size: 16px;
}

article {
  border: solid 3px #000000;
  padding: 1rem 4rem;
  margin: 4rem 0;
}

article.articlesBrief {
  background-color: rgb(227, 223, 247);
}

article h2 {
  margin: 0 0 45px 0;
}

article .title {
  font-size: 53px;
  font-weight: 600;
  color: #000000;
  font-family: "Amatic SC", sans-serif;
}

article .info {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

article .opinions {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

article .info a {
  font-weight: bold;
}

article .info a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
  margin: 0 25px;
}

.site-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a {
  padding: 0.2em 0.9em 0.2em 0;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.menu a:hover {
  color: rgb(101, 84, 179);
  font-weight: bold;
}

.userLoggedIn {
  display: flex;
  align-items: center;
}

.userLoggedIn img {
  padding: 10px;
}

.userLoggedIn span {
  padding: 10px;
}

.userLoggedIn button {
  height: 50%;
}

.logIn {
  display: flex;
}

.logIn input {
  margin: 0 10px;
}

.logIn button {
  padding-top: 5px;
  margin: 0;
}

.logInInput {
  width: 130px;
  height: 25px;
}

.previewArticlesContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
}

.topicsGrid {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.orderByGrid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.articlesGrid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.topicsList {
  padding: 0.5em;
}

.topicsListHeader {
  margin: 0em 0.5em 0.5em 0.5em;
}

.topicsList li {
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.2s;
}

.topicsList li:hover {
  color: rgb(101, 84, 179);
  font-weight: bold;
}

.topicsList li.activeTopic {
  color: rgb(101, 84, 179);
  font-weight: bold;
}

.scrollDownTopicList {
  display: none;
}

.interactWithArticles {
  display: flex;
  justify-content: flex-end;
}

.authorsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.authorItem {
  margin: 2em;
  padding: 1em;
  transition: all 0.2s;
}

.authorItem:hover {
  border: solid 3px rgb(101, 84, 179);
}

.commentsContainer {
  display: grid;
  grid-gap: 10px;
  align-self: center;
}

.commentCard {
  border: solid 3px #000000;
  padding: 0 1rem 1rem 1rem;
  background-color: rgb(227, 223, 247);
}

.commentCard .info {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.commentCard .info a {
  font-weight: bold;
}

.commentCard .info a:hover {
  text-decoration: underline;
}

.topicsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.topicItem {
  margin: 1em;
  padding: 1em;
  border: solid 3px #000000;
  background-color: rgb(227, 223, 247);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.titleHeader {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.postButtonGrid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  align-self: center;
  justify-self: end;
}

.postButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(64, 64, 64);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  background-color: #fff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.postButton:hover {
  color: #fff;
  background-color: rgb(64, 64, 64);
}

.postFields {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 25px auto auto;
  grid-gap: 10px;
}

.titlePost {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-self: left;
}

.chooseTopicOnPost {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-self: left;
}

.writeArticleArea {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.submitButtonGrid {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-self: center;
}

.topicForm {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.topicInput {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
}

.descriptionInput {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
}

.topicForm .submitButtonGrid {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-self: end;
}

@media only screen and (max-width: 768px) {
  .previewArticlesContainer {
    flex-wrap: wrap;
  }

  article {
    padding: 1rem;
    margin: 4rem 0;
    background-color: rgb(227, 223, 247);
  }

  .App {
    margin: 0 10px;
  }

  .topicsList {
    display: none;
  }

  .topicsListHeader {
    display: none;
  }

  .scrollDownTopicList {
    display: flex;
  }

  .previewArticlesContainer {
    grid-template-columns: 50% 50%;
  }

  .topicsGrid {
    grid-row-end: 2;
  }

  .articlesGrid {
    grid-column-start: 1;
  }
}
